@using RecipeApp.Web.ViewModels.FavoritesViewModels
@model CookbookViewModel

<h2>Recipes in "@Model.Title"</h2>

<p>@Model.Description</p>

@if (!Model.Recipes.Any())
{
     <p>You don't have any recipes in that book.</p>
     <a asp-controller="Recipe" asp-action="Index" class="btn btn-primary all-recipes">Choose recipes from here</a>
}
else
{
    <div class="row">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@(!string.IsNullOrEmpty(recipe.ImageUrl) ? recipe.ImageUrl : RecipeApp.Common.ApplicationConstants.NoImageUrl)" class="card-img-top" alt="@recipe.Title">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Title</h5>
                        <div class="recipe-main-btns cookbook-recipe-main-btns">
                            <a asp-controller="Recipe" asp-action="Details" asp-route-id="@recipe.Id" class="recipe-view-btn">View Recipe</a>
                            @* Remove from Cookbook button *@
                            <form asp-controller="Favorites" asp-action="RemoveFromCookbook" method="post">
                                <input type="hidden" name="recipeId" value="@recipe.Id" />
                                <input type="hidden" name="cookbookId" value="@Model.Id" />
                                <button type="submit" class="btn btn-danger remove-from-book">
                                    Remove from book
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}