@using RecipeApp.Web.ViewModels.FavoritesViewModels
@model CookbookViewModel

<h2>Recipes in "@Model.Title"</h2>

<p>@Model.Description</p>

<form controller="Recipe" action="Index" method="get">
    <div class="row">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@(!string.IsNullOrEmpty(recipe.ImageUrl) ? recipe.ImageUrl : RecipeApp.Common.ApplicationConstants.NoImageUrl)" class="card-img-top" alt="@recipe.Title">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Title</h5>
                        <div class="recipe-main-btns">
                            <a asp-controller="Recipe" asp-action="Details" asp-route-id="@recipe.Id" class="recipe-view-btn">View Recipe</a>
                            @* Remove from Cookbook button  *@
                            <form action="@Url.Action("RemoveFromCookbook", "Favorites")" method="post" style="display:inline;">
                                <input type="hidden" name="recipeId" value="@recipe.Id" />
                                <input type="hidden" name="cookbookId" value="@Model.Id" />
                                <button type="submit" class="btn btn-danger">
                                    Remove from your book
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>