@using RecipeApp.Data.Models
@using RecipeApp.Web.ViewModels.RecipeViewModels
@model IEnumerable<Recipe>

<h2>My Recipes</h2>

<div class="row">
    @foreach (var recipe in Model)
    {
        <div class="col-md-4">
            <div class="card category-recipe-card">
                <img src="@(!string.IsNullOrEmpty(recipe.ImageUrl) ? recipe.ImageUrl : RecipeApp.Common.ApplicationConstants.NoImageUrl)" class="card-img-top" alt="@recipe.Title">
                <div class="card-body">
                    <h5 class="card-title">@recipe.Title</h5>
                    <div class="recipe-main-btns">
                        <a asp-action="Details" asp-route-id="@recipe.Id" class="recipe-view-btn">View Recipe</a>
                        <a asp-action="Edit" asp-route-id="@recipe.Id" class="my-recipe-edit-btn">Edit Recipe</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
